
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: whitesmoke;
    user-select: none;
}
.mainbody{
    display: flex;
    align-items: center;
   
}

.container {
    display: block;
}

nav {
    box-shadow: 2px 2px 3px grey;
}
.navbar {
  box-sizing: border-box;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 30px 30px; /* Adjusted padding */
  position: relative;
  z-index: 0;
}

.toggle-btn {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    left: 20px;
    z-index: 2;
}

.line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    width: 250px;
    z-index: 1;
    position: fixed;
    top: 115px; /* Adjust the top position as per your requirement */
    left: -250px;
    bottom: 0;
    overflow-y: auto;
    transition: left 0.5s ease;
}

.menu.open {
    left: 0;
}

.menu li {
    padding: 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.logo {
    position: absolute;
    right: 10px; /* Adjust the distance from the left edge */
}

.logo video {
    width: 198px;
    height:128px; /* Adjust the width of the video logo */
    border-radius: 12px; /* Make the video logo circular */
    padding: 15px;
    
}

.main-top {
    border-bottom: 1px solid darkgray;
    display: flex;
    width: 100%;
    background: #fff;
    padding: 10px;
    justify-content: space-around;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(43, 43, 43);
}

.main {
    width: 100%;
    padding: 20px;
}

.headertxt {
    margin-left: 25%;
    margin-top: 3%;
}

select {
    width: 200px;
    height: 30px;
    color: white;
    background-color: #333;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 18px;
    padding: 5px; /* Adjust padding for better appearance */
    padding-left: 0;
    left: 0px;
}

option {
    color: white; /* Change the color of the option text */
    font-size: 18px;
    padding: 10px 0; /* Add padding to create space between options */
}
h1{
  color: white;
}
.user-info {
    display: flex;
    align-items: center;
    padding: 10px;
}

.user-info img {
    width: 70px; /* Adjust as needed */
    height: 70px; /* Adjust as needed */
    border-radius: 50%;
}

.user-info .username {
    color: #fff;
    margin-left: 20px;
    font-size: 18px;
}
#imgad{
    width: 200px;
}

